{% extends "main.html" %}


{% block content %}
    <div class="row">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg">
            <div class="card-body">
                <h5 class="card-title">{% lorem w %}</h5>
                <p class="card-text">
                    {% lorem %}
                </p>
                <a href="{% url 'calc_ibm' %}" class="btn btn-primary">Тест страница</a>
            </div>
        </div>
    </div>
{% endblock %}