{% extends "main.html" %}


{% block content %}
    <div class="row">
        <a href="{% url 'index' %}" class="list-group">На главную</a>
    </div>
    <div class="row">
       {% if name is not None and age is not None and height is not None %}
           Привет, {{ name }}! Тебе кажется {{ age }} и твой рост {{ height }}
       {% endif %}
        <form action="{% url "reguser" %}" method="post" class="form-group">
            {% csrf_token %}
            <label for="name" class="form-check-label">Your name:</label>
            <input id="name" class="input-group" type="text" name="name" placeholder="ФИО" required value="">
            <label for="age" class="form-check-label">Your age: </label>
            <input id="age" class="input-group" type="number" name="age" required>
            <input id="height" class="input-group" type="number" name="height" required>
            <input type="submit" class="button btn-success" value="Отправить">
        </form>
        <hr>
        <form action="{% url "getuser" %}" method="post" class="form-group">
            {% csrf_token %}
            <input id="name" class="input-group" type="text" name="name" placeholder="ФИО" required value="">
        <p>{{ funnyDB }}</p>
        Name: {{ name }}
        <ul>
        {% if name in funnyDB.keys %}
            {{ funnyDB.name }}
        {% endif %}
        </ul>
            {% if name in funnyDB.keys %}
                <p>{{ funnyDB.name.age }}</p>
                <p>{{ funnyDB.name.height }}</p>
            {% endif %}
            <input type="submit" class="button btn-success" value="Отправить">

        </form>

    </div>
    <div class="row">
        {% lorem 3 p %}
    </div>

{% endblock %}